<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Administradores'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<form action="/admin">
                    <div class="col-12 col-md-6">
						<label for="name" class="form-label">Administrador:</label>
						<input type="text" id="name" name="user" placeholder="Ej: Ada" class="form-input">
					</div>
                    <button type="submit">Ingresar</button>
					<p style="color:red"><%= msg %></p>
                </form>
			</div>
		</div>
				</div>

	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>